@charset "utf-8";

/* default */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,dt{font-weight:normal;}
img,fieldset,iframe,button{border:0 none;}
li{list-style:none;}
i, em, u, cite {font-style:normal;}
strong{font-weight:normal;}
img{}
a{color:#757575;text-decoration:none;outline-offset:-1px;}
.chrome a,
.safari a{outline-offset:-3px;}
input {-webkit-appearance:none;}

html, body{height:100%; font-size:0; line-height:0;}
body{/-webkit-text-size-adjust:none;-moz-osx-font-smoothing:gratranslate3d(0,0,0)yscale;/*overflow-y:hidden;*/overflow-x:hidden;word-break:keep-all;word-wrap:break-word;}
body.non-scroll {overflow-y:hidden;}

/* Form */
legend{position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;}
select, input, textarea {outline:0;}
select, input, label{vertical-align:middle}
button{border:0 none;cursor:pointer;background:none;font-family: 'Noto Sans KR';}
button:focus{outline:0;}
select::-ms-expand { display: none; }
select::-moz-focus-inner { border: 0; padding: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
select{font-family: 'Noto Sans KR';}
input{font-family: 'Noto Sans KR';}
table {border-collapse: collapse; table-layout:fixed; width:100%;}
textarea {font-family: 'Noto Sans KR';}

body {font-family: 'Noto Sans KR'; height:100%;}
.wrap {height:100%; position:relative; width:100%;}


/* slick */
.slick-slider {position:relative;}
.slick-list {overflow:hidden; position:relative; z-index:5;}
.slick-track {position:relative; top:0; left:0; margin-right:auto; margin-left:auto;}
.slick-track:before, .slick-track:after {display:table;}
.slick-track:after {clear:both;}
.slick-loading .slick-track {visibility:hidden;}
.slick-slide {display:none; float:left;}
.slick-slide.slick-loading img {display:none;}
.slick-initialized .slick-slide {display:block;}
.slick-loading .slick-slide {visibility:hidden;}
.slick-vertical .slick-slide {display:block;}


.wrap .slide {position:relative; width:100%; height:100%; max-width:1920px; margin:0 auto;}
.wrap .slide ul {position:absolute; width:100%; height:100%;}
.wrap .slide ul div {padding:0 !important; position:absolute; width:100%; height:100%;}
.wrap .slide ul li {position:relative; overflow:hidden;}
.wrap .slide ul li a img {width:100%;}

.wrap .slide a {padding:20px;transform:translate3d(20px, -20px, 0) scale(1); -webkit-transform:translate3d(20px, -20px, 0) scale(1); -ms-transform:translate3d(20px, -20px, 0) scale(1); z-index:10;}

.wrap .slide .left {position:fixed; left:0; top:25%; margin-top:0; z-index:10; width:25%; height:50%; text-align:left;  transition:all .3s; -webkit-transition:all .3s; -ms-transition:all .3s; opacity:0;}
.wrap .slide .left:hover {opacity:1;}
.wrap .slide .left img {width:57px; height:112px;}
.wrap .slide .right {position:fixed; right:0; top:25%; margin-top:0; z-index:10; width:25%; height:50%; text-align:right;  transition:all .3s; -webkit-transition:all .3s; -ms-transition:all .3s; opacity:0;}
.wrap .slide .right:hover {opacity:1;}
.wrap .slide .right img {width:57px; height:112px;}
.wrap .slide .close {position:fixed; right:40px; top:40px; z-index:10;}

.wrap .slide .col00 {width:100%; height:100%; background:url('../../images/img_color00.gif') center center no-repeat; background-size:800px auto;}
.wrap .slide .col01 {width:100%; height:100%; background:url('../../images/img_color01.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col02 {width:100%; height:100%; background:url('../../images/img_color02.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col03 {width:100%; height:100%; background:url('../../images/img_color03.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col04 {width:100%; height:100%; background:url('../../images/img_color04.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col05 {width:100%; height:100%; background:url('../../images/img_color05.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col06 {width:100%; height:100%; background:url('../../images/img_color06.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col07 {width:100%; height:100%; background:url('../../images/img_color07.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col08 {width:100%; height:100%; background:url('../../images/img_color08.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col09 {width:100%; height:100%; background:url('../../images/img_color09.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col10 {width:100%; height:100%; background:url('../../images/img_color10.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col11 {width:100%; height:100%; background:url('../../images/img_color11.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col12 {width:100%; height:100%; background:url('../../images/img_color12.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col13 {width:100%; height:100%; background:url('../../images/img_color13.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col14 {width:100%; height:100%; background:url('../../images/img_color14.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col15 {width:100%; height:100%; background:url('../../images/img_color15.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col16 {width:100%; height:100%; background:url('../../images/img_color16.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col17 {width:100%; height:100%; background:url('../../images/img_color17.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col18 {width:100%; height:100%; background:url('../../images/img_color18.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col19 {width:100%; height:100%; background:url('../../images/img_color19.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col20 {width:100%; height:100%; background:url('../../images/img_color20.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col21 {width:100%; height:100%; background:url('../../images/img_color21.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col22 {width:100%; height:100%; background:url('../../images/img_color22.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col23 {width:100%; height:100%; background:url('../../images/img_color23.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col24 {width:100%; height:100%; background:url('../../images/img_color24.jpg') center center no-repeat; background-size:100% auto;}
.wrap .slide .col25 {width:100%; height:100%; background:url('../../images/img_color25.jpg') center center no-repeat; background-size:100% auto;}


.wrap .slide .col01 a.t1 {position:absolute; right:46%; top:50%; width:11.5%; margin-top:-24%;}
.wrap .slide .col01 a.t2 {position:absolute; right:85%; top:50%; width:6.5%; margin-top:23%;}
.wrap .slide .col01 a.t3 {position:absolute; right:8%; top:50%; width:8.4%; margin-top:23%;}

.wrap .slide .col02 a.t1 {position:absolute; right:87%; top:50%; width:10.5%; margin-top:-26%;}
.wrap .slide .col02 a.t2 {position:absolute; right:89%; top:50%; width:8.2%; margin-top:25%;}
.wrap .slide .col02 a.t3 {position:absolute; right:2%; top:50%; width:8.2%; margin-top:25%;}

.wrap .slide .col03 a.t1 {position:absolute; right:46%; top:50%; width:11.5%; margin-top:-24%;}
.wrap .slide .col03 a.t2 {position:absolute; right:90%; top:50%; width:6.45%; margin-top:24%;}
.wrap .slide .col03 a.t3 {position:absolute; right:2%; top:50%; width:6.45%; margin-top:24%;}

.wrap .slide .col04 a.t1 {position:absolute; right:81%; top:50%; width:13.2%; margin-top:-26%;}
.wrap .slide .col04 a.t2 {position:absolute; right:5%; top:50%; width:13.4%; margin-top:-26%;}
.wrap .slide .col04 a.t3 {position:absolute; right:52%; top:50%; width:7.18%; margin-top:26%;}

.wrap .slide .col05 a.t1 {position:absolute; right:45%; top:50%; width:11.56%; margin-top:-26%;}
.wrap .slide .col05 a.t2 {position:absolute; right:84%; top:50%; width:6.61%; margin-top:25%;}
.wrap .slide .col05 a.t3 {position:absolute; right:9%; top:50%; width:6.61%; margin-top:25%;}

.wrap .slide .col07 a.t1 {position:absolute; right:86%; top:50%; width:11.56%; margin-top:-26%;}
.wrap .slide .col07 a.t2 {position:absolute; right:3%; top:50%; width:11.14%; margin-top:-26%;}
.wrap .slide .col07 a.t3 {position:absolute; right:3%; top:50%; width:6.19%; margin-top:25%;}

.wrap .slide .col08 a.t1 {position:absolute; right:91%; top:50%; width:6.45%; margin-top:25%;}
.wrap .slide .col08 a.t2 {position:absolute; right:3%; top:50%; width:10.46%; margin-top:10%;}
.wrap .slide .col08 a.t3 {position:absolute; right:3%; top:50%; width:11.14%; margin-top:15%;}
.wrap .slide .col08 a.t4 {position:absolute; right:3%; top:50%; width:11.14%; margin-top:20%;}
.wrap .slide .col08 a.t5 {position:absolute; right:3%; top:50%; width:9.53%; margin-top:25%;}

.wrap .slide .col09 a.t1 {position:absolute; right:86%; top:50%; width:11.56%; margin-top:-26%;}
.wrap .slide .col09 a.t2 {position:absolute; right:3%; top:50%; width:11.14%; margin-top:-26%;}
.wrap .slide .col09 a.t3 {position:absolute; right:89%; top:50%; width:8.48%; margin-top:25%;}

.wrap .slide .col10 a.t1 {position:absolute; right:82%; top:50%; width:8.48%; margin-top:-26%;}
.wrap .slide .col10 a.t2 {position:absolute; right:3%; top:50%; width:11.14%; margin-top:-26%;}

.wrap .slide .col11 a.t1 {position:absolute; right:86%; top:50%; width:6.45%; margin-top:-26%;}
.wrap .slide .col11 a.t2 {position:absolute; right:40%; top:50%; width:8.48%; margin-top:-26%;}
.wrap .slide .col11 a.t3 {position:absolute; right:3%; top:50%; width:5.78%; margin-top:-26%;}
.wrap .slide .col11 a.t4 {position:absolute; right:3%; top:50%; width:9.53%; margin-top:25%;}

.wrap .slide .col12 a.t1 {position:absolute; right:25%; top:50%; width:11.14%; margin-top:-25%;}
.wrap .slide .col12 a.t2 {position:absolute; right:92%; top:50%; width:6.45%; margin-top:25%;}
.wrap .slide .col12 a.t3 {position:absolute; right:2%; top:50%; width:6.45%; margin-top:25%;}

.wrap .slide .col13 a.t1 {position:absolute; right:55%; top:50%; width:8.33%; margin-top:-17%;}
.wrap .slide .col13 a.t2 {position:absolute; right:40%; top:50%; width:10.46%; margin-top:4%;}
.wrap .slide .col13 a.t3 {position:absolute; right:74%; top:50%; width:7.76%; margin-top:23%;}
.wrap .slide .col13 a.t4 {position:absolute; right:11%; top:50%; width:7.55%; margin-top:23%;}

.wrap .slide .col14 a.t1 {position:absolute; right:82%; top:50%; width:9.53%; margin-top:22%;}
.wrap .slide .col14 a.t2 {position:absolute; right:7%; top:50%; width:8.48%; margin-top:22%;}

.wrap .slide .col15 a.t1 {position:absolute; right:3%; top:50%; width:7.18%; margin-top:-26%;}
.wrap .slide .col15 a.t2 {position:absolute; right:3%; top:50%; width:10.67%; margin-top:24%;}

.wrap .slide .col17 a.t1 {position:absolute; right:92%; top:50%; width:5.78%; margin-top:-26%;}
.wrap .slide .col17 a.t2 {position:absolute; right:85%; top:50%; width:12.86%; margin-top:24%;}
.wrap .slide .col17 a.t3 {position:absolute; right:3%; top:50%; width:11.56%; margin-top:24%;}

.wrap .slide .col18 a.t1 {position:absolute; right:46%; top:50%; width:7.18%; margin-top:-26%;}
.wrap .slide .col18 a.t2 {position:absolute; right:86%; top:50%; width:11.14%; margin-top:24%;}
.wrap .slide .col18 a.t3 {position:absolute; right:3%; top:50%; width:11.61%; margin-top:24%;}

.wrap .slide .col19 a.t1 {position:absolute; right:70%; top:50%; width:7.18%; margin-top:-26%;}
.wrap .slide .col19 a.t2 {position:absolute; right:3%; top:50%; width:12.86%; margin-top:-26%;}
.wrap .slide .col19 a.t3 {position:absolute; right:3%; top:50%; width:6.61%; margin-top:14%;}

.wrap .slide .col20 a.t1 {position:absolute; right:92%; top:50%; width:6.45%; margin-top:-26%;}
.wrap .slide .col20 a.t2 {position:absolute; right:85%; top:50%; width:13.22%; margin-top:25%;}
.wrap .slide .col20 a.t3 {position:absolute; right:3%; top:50%; width:13.43%; margin-top:25%;}

.wrap .slide .col21 a.t1 {position:absolute; right:95%; top:50%; width:3.17%; margin-top:-26%;}
.wrap .slide .col21 a.t2 {position:absolute; right:3%; top:50%; width:9.79%; margin-top:-26%;}
.wrap .slide .col21 a.t3 {position:absolute; right:88%; top:50%; width:10.46%; margin-top:24%;}

.wrap .slide .col22 a.t1 {position:absolute; right:86%; top:50%; width:12.23%; margin-top:-26%;}
.wrap .slide .col22 a.t2 {position:absolute; right:3%; top:50%; width:6.45%; margin-top:-26%;}

.wrap .slide .col23 a.t1 {position:absolute; right:80%; top:50%; width:17.76%; margin-top:3%;}
.wrap .slide .col23 a.t2 {position:absolute; right:3%; top:50%; width:8.17%; margin-top:3%;}

.wrap .slide .col24 a.t1 {position:absolute; right:88%; top:50%; width:9.53%; margin-top:24%;}
.wrap .slide .col24 a.t2 {position:absolute; right:46%; top:50%; width:5.78%; margin-top:24%;}
.wrap .slide .col24 a.t3 {position:absolute; right:3%; top:50%; width:10.4%; margin-top:24%;}

.wrap .slide .col25 a.t1 {position:absolute; right:88%; top:50%; width:10.46%; margin-top:-26%;}
.wrap .slide .col25 a.t2 {position:absolute; right:46%; top:50%; width:6.51%; margin-top:-26%;}
.wrap .slide .col25 a.t3 {position:absolute; right:3%; top:50%; width:6.51%; margin-top:-26%;}
.wrap .slide .col25 a.t4 {position:absolute; right:3%; top:50%; width:14.89%; margin-top:24%;}



.wrap .slide .video {position:relative; background:none;}
.wrap .slide .video video {position:absolute; width:100%; height:100%;}



.m_wrap {height:100%; position:relative; width:100%;}
.m_wrap .slide {position:relative; width:100%; height:100% !important;}
.m_wrap .slide ul {position:absolute; width:100%; height:100% !important;}
.m_wrap .slide ul div {padding:0 !important; position:absolute; width:100%; height:100% !important;}
.m_wrap .slide ul li {position:relative;  overflow:hidden;}
.m_wrap .slide ul li a img {width:100%;}
.m_wrap .slide a {padding:20px;transform:translate3d(-20px, -20px, 0) scale(1); -webkit-transform:translate3d(-20px, -20px, 0) scale(1); -ms-transform:translate3d(-20px, -20px, 0) scale(1); z-index:10;}


.m_wrap .slide .video {position:relative; background:none;}
.m_wrap .slide .video video {position:absolute; width:100%; height:100%;}
.m_wrap .icon_sc {position:fixed; bottom:50px; left:50%; width:75px; margin-left:-37px; text-align:center; z-index:5; animation: mousePop 2.5s linear 1 forwards ; -webkit-animation: mousePop 2.5s linear 1 forwards ; opacity:1;}

@-webkit-keyframes mousePop {
    33% {
		bottom:20px;
		opacity:0;
	}

	66% {
		bottom: 50px;
		opacity:1;
	}

	100% {
		bottom:-50px;
		opacity:0;
		
	}
}

@keyframes mousePop {
     33% {
		bottom:20px;
		opacity:0;
	}

	66% {
		bottom: 50px;
		opacity:1;
	}

	100% {
		bottom:-50px;
		opacity:0;
		
	}
}



.m_wrap .slide .col00 {width:100%; height:100%; background:url('../../images/img_color00_m.gif') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col01 {width:100%; height:100%; background:url('../../images/img_color01_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col02 {width:100%; height:100%; background:url('../../images/img_color02_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col03 {width:100%; height:100%; background:url('../../images/img_color03_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col04 {width:100%; height:100%; background:url('../../images/img_color04_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col05 {width:100%; height:100%; background:url('../../images/img_color05_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col06 {width:100%; height:100%; background:url('../../images/img_color06_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col07 {width:100%; height:100%; background:url('../../images/img_color07_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col08 {width:100%; height:100%; background:url('../../images/img_color08_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col09 {width:100%; height:100%; background:url('../../images/img_color09_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col10 {width:100%; height:100%; background:url('../../images/img_color10_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col11 {width:100%; height:100%; background:url('../../images/img_color11_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col12 {width:100%; height:100%; background:url('../../images/img_color12_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col13 {width:100%; height:100%; background:url('../../images/img_color13_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col14 {width:100%; height:100%; background:url('../../images/img_color14_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col15 {width:100%; height:100%; background:url('../../images/img_color15_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col16 {width:100%; height:100%; background:url('../../images/img_color16_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col17 {width:100%; height:100%; background:url('../../images/img_color17_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col18 {width:100%; height:100%; background:url('../../images/img_color18_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col19 {width:100%; height:100%; background:url('../../images/img_color19_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col20 {width:100%; height:100%; background:url('../../images/img_color20_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col21 {width:100%; height:100%; background:url('../../images/img_color21_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col22 {width:100%; height:100%; background:url('../../images/img_color22_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col23 {width:100%; height:100%; background:url('../../images/img_color23_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col24 {width:100%; height:100%; background:url('../../images/img_color24_m.jpg') center center no-repeat; background-size:100% auto;}
.m_wrap .slide .col25 {width:100%; height:100%; background:url('../../images/img_color25_m.jpg') center center no-repeat; background-size:100% auto;}



.m_wrap .slide .col01 a.t1 {position:absolute; left:37%; width:23.6%; top:50%; margin-top:-66%;}
.m_wrap .slide .col01 a.t2 {position:absolute; left:11%; width:13.2%; top:50%; margin-top:62%;}
.m_wrap .slide .col01 a.t3 {position:absolute; left:71%; width:17.46%; top:50%; margin-top:62%;}

.m_wrap .slide .col02 a.t1 {position:absolute; left:4%; width:21.46%; top:50%; margin-top:18%;}
.m_wrap .slide .col02 a.t2 {position:absolute; left:79%; width:16.93%; top:50%; margin-top:-69%;}

.m_wrap .slide .col03 a.t1 {position:absolute; left:41%; width:23.73%; top:50%; margin-top:-64%;}
.m_wrap .slide .col03 a.t2 {position:absolute; left:6%; width:13.2%;  top:50%; margin-top:70%;}
.m_wrap .slide .col03 a.t3 {position:absolute; left:81%; width:13.2%;  top:50%; margin-top:70%;}

.m_wrap .slide .col04 a.t1 {position:absolute; left:3%; width:27.06%; top:50%; margin-top:24%;}
.m_wrap .slide .col04 a.t2 {position:absolute; left:62%; width:27.46%; top:50%; margin-top:24%;}
.m_wrap .slide .col04 a.t3 {position:absolute; left:3%; width:14.8%;  top:50%; margin-top:-69%;}

.m_wrap .slide .col05 a.t1 {position:absolute; left:40%; width:23.73%; top:50%; margin-top:-58%;}
.m_wrap .slide .col05 a.t2 {position:absolute; left:4%; width:13.7%; top:50%; margin-top:66%;}
.m_wrap .slide .col05 a.t3 {position:absolute; left:82%; width:13.7%; top:50%; margin-top:66%;}

.m_wrap .slide .col07 a.t1 {position:absolute; left:4%; width:23.86%; top:50%; margin-top:-44%;}
.m_wrap .slide .col07 a.t2 {position:absolute; left:74%; width:22.8%;  top:50%; margin-top:-44%;}
.m_wrap .slide .col07 a.t3 {position:absolute; left:45%; width:12.66%; top:50%; margin-top:-44%;}

.m_wrap .slide .col08 a.t1 {position:absolute;left:4%; width:13.2%;  top:50%; margin-top:-53%;}
.m_wrap .slide .col08 a.t2 {position:absolute;left: 75%;width:21.46%;top:50%;margin-top: -19%;}
.m_wrap .slide .col08 a.t3 {position:absolute;left: 74%;width:22.93%;top:50%;margin-top: -30%;}
.m_wrap .slide .col08 a.t4 {position:absolute;left: 74%;width:22.8%;top:50%;margin-top: -41%;}
.m_wrap .slide .col08 a.t5 {position:absolute;left: 77%;width:19.6%;top:50%;margin-top: -53%;}

.m_wrap .slide .col09 a.t1 {position:absolute; left:4%; width:23.6%;  top:50%; margin-top:-69%;}
.m_wrap .slide .col09 a.t2 {position:absolute; left:74%; width:22.93%; top:50%; margin-top:-69%;}
.m_wrap .slide .col09 a.t3 {position:absolute; left:4%; width:17.46%; top:50%; margin-top:-28%;}

.m_wrap .slide .col10 a.t1 {position:absolute; left:4%; width:17.46%; top:50%; margin-top:-60%;}
.m_wrap .slide .col10 a.t2 {position:absolute; left:74%; width:22.93%; top:50%; margin-top:-60%;}

.m_wrap .slide .col11 a.t1 {position:absolute;left: 4%;width:13.2%;top:50%;margin-top: -68%;}
.m_wrap .slide .col11 a.t2 {position:absolute;left: 42%;width:17.33%;top:50%;margin-top: -68%;}
.m_wrap .slide .col11 a.t3 {position:absolute;left: 85%;width:11.86%;top:50%;margin-top: -68%;}
.m_wrap .slide .col11 a.t4 {position:absolute;left: 4%;width:19.6%;top:50%;margin-top: 65%;}

.m_wrap .slide .col12 a.t1 {position:absolute; left:55%; width:22.93%; top:50%; margin-top:-52%;}
.m_wrap .slide .col12 a.t2 {position:absolute; left:7%; width:13.2%;  top:50%; margin-top:42%;}

.m_wrap .slide .col13 a.t1 {position:absolute; left:4%; width:15.6%;  top:50%; margin-top:-49%;}
.m_wrap .slide .col13 a.t2 {position:absolute; left:43%; width:21.33%; top:50%; margin-top:7%;}
.m_wrap .slide .col13 a.t3 {position:absolute; left:80%; width:17.06%; top:50%; margin-top:-49%;}
.m_wrap .slide .col13 a.t4 {position:absolute; left:43%; width:15.86%; top:50%; margin-top:56%;}

.m_wrap .slide .col14 a.t1 {position:absolute; left:17%; width:19.6%;  top:50%; margin-top:57%;}
.m_wrap .slide .col14 a.t2 {position:absolute; left:65%; width:17.46%; top:50%; margin-top:57%;}

.m_wrap .slide .col15 a.t1 {position:absolute; left:4%; width:14.8%;  top:50%; margin-top:66%;}
.m_wrap .slide .col15 a.t2 {position:absolute; left:75%; width:21.86%; top:50%; margin-top:66%;}

.m_wrap .slide .col17 a.t1 {position:absolute; left:86%; width:11.86%; top:50%; margin-top:-70%;}
.m_wrap .slide .col17 a.t2 {position:absolute; left:4%; width:26.4%;  top:50%; margin-top:-70%;}
.m_wrap .slide .col17 a.t3 {position:absolute; left:4%; width:23.6%;  top:50%; margin-top:70%;}

.m_wrap .slide .col18 a.t1 {position:absolute; left:43%; width:14.93%; top:50%; margin-top:-70%;}
.m_wrap .slide .col18 a.t2 {position:absolute; left:4%; width:22.93%; top:50%; margin-top:70%;}
.m_wrap .slide .col18 a.t3 {position:absolute; left:72%; width:23.86%; top:50%; margin-top:70%;}

.m_wrap .slide .col19 a.t1 {position:absolute; left:9%; width:14.93%; top:50%; margin-top:-62%;}
.m_wrap .slide .col19 a.t2 {position:absolute; left:70%; width:26.4%;  top:50%; margin-top:-62%;}
.m_wrap .slide .col19 a.t3 {position:absolute; left:83%; width:13.6%;  top:50%; margin-top:-20%;}

.m_wrap .slide .col20 a.t1 {position:absolute; left:46%; width:13.2%;  top:50%; margin-top:67%;}
.m_wrap .slide .col20 a.t2 {position:absolute; left:4%; width:27.06%; top:50%; margin-top:-71%;}
.m_wrap .slide .col20 a.t3 {position:absolute; left:69%; width:27.46%; top:50%; margin-top:-71%;}

.m_wrap .slide .col21 a.t1 {position:absolute; left:4%; width:6.66%;  top:50%; margin-top:-68%;}
.m_wrap .slide .col21 a.t2 {position:absolute; left:76%; width:20.13%; top:50%; margin-top:68%;}
.m_wrap .slide .col21 a.t3 {position:absolute; left:4%; width:21.6%; top:50%; margin-top:68%;}

.m_wrap .slide .col22 a.t1 {position:absolute; left:72%; width:25.06%; top:50%; margin-top:-64%;}
.m_wrap .slide .col22 a.t2 {position:absolute; left:4%; width:13.2%;  top:50%; margin-top:-64%;}

.m_wrap .slide .col23 a.t1 {position:absolute; left:34%; width:36.4%;  top:50%; margin-top:-76%;}
.m_wrap .slide .col23 a.t2 {position:absolute; left:43%; width:16.93%; top:50%; margin-top:-66%;}

.m_wrap .slide .col24 a.t1 {position:absolute; left:4%; width:19.6%;  top:50%; margin-top:68%;}
.m_wrap .slide .col24 a.t2 {position:absolute; left:45%; width:11.86%; top:50%; margin-top:68%;}
.m_wrap .slide .col24 a.t3 {position:absolute; left:75%; width:21.46%; top:50%; margin-top:68%;}

.m_wrap .slide .col25 a.t1 {position:absolute; left:4%; width:17.46%; top:50%; margin-top:-65%;}
.m_wrap .slide .col25 a.t2 {position:absolute; left:46%; width:13.46%; top:50%; margin-top:-65%;}
.m_wrap .slide .col25 a.t3 {position:absolute; left:82%; width:13.46%; top:50%; margin-top:-65%;}
.m_wrap .slide .col25 a.t4 {position:absolute; left:36%; width:30.35%; top:50%; margin-top:65%;}
.m_wrap .slick-arrow {display:none !important;}